#page-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-navigation {
    ul {
        padding-left: 0;
        margin: 0;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 10px;
    }
}

#page-content {
    h1, .h1 {
        margin-bottom: 30px
    }
}

#page-header,
#page-content,
#page-footer {
    & > .container {
        padding-top: 30px;
        padding-bottom: 30px
    }
}
