// ====
// BetterHTMLMenu et navigation
// ====
[class^="betterhtmlmenu"] { display: none; }

@media (max-width: 450px), (max-device-width: 450px) {
    [class^="betterhtmlmenu"] {
        display: inline-block;
        font-size: 20px;
        color: initial;

        ~ nav {
            display: none;
        }

        &, select {
            width: 100%
        }
    }
}

#page-navigation ul:not([class~="align-right"]) {
    float: left;
}

// ====
// Big Red Button
// ====
.big-red-button {
    outline: 0 !important;
    border-radius: 50%;
    font-size: 40px;
    height: 150px;
    width: 150px;
    white-space: normal;
}

// ====
// Items
// ====

.items-table {
    thead {
        font-size: 15px;

        th {
            text-align: center;
        }
    }

    tbody {
        font-size: 14px;
    }

    td {
        vertical-align: middle !important;
    }
}

.item {
    display: inline-block;
    margin-bottom: 15px;
    padding: .25rem;
    width: 100%;
}

.item--well {
    position:relative;
    display: block;
    text-align: center;
    padding: 0;
}

.item--thumbnail {
    display: inline-block;
}

.item--thumbnail + .caption {
    padding: 0 5px 5px;
    text-align: left;
}

.item--price-separator-down {
    margin-bottom: 13px;
}

// Pour réduire la width des formulaires pour enchérir sur la liste des ventes

